---
import SiteLayout from "../layouts/SiteLayout.astro";
const articles = (await Astro.glob("./articles/*.{md,mdx}"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
---

<SiteLayout>
  <h1>Astro</h1>
  {
    articles.map((article) => (
      <a href={article.url}>{article.frontmatter.title}</a>
    ))
  }
</SiteLayout>
