---
import { SITE_HOME } from "../config";
---

<footer
  class="flex flex-col gap-2 w-full items-center justify-center md:text-lg my-7"
>
  <p class="">
    &copy; 2024 <a
      href={SITE_HOME}
      class="underline underline-offset-2"
      target="_blank">ihwiki</a
    >. All rights reserved.
  </p>
  <p class="">
    Made with passion by <a
      class="underline underline-offset-2"
      href="https://twitter.com/c_lennyx"
      target="_blank">Lennox</a
    >
  </p>
</footer>
